<h1>Eat the burger.</h1>

<img id = "burger-img" src = "./assets/img/burger.png">

<h2>Burgers to be devoured</h2>

<main>
  <div class="container">
    <div class="row">
      <div class="burgerCol">
        <p>Click a burger to devour it.</p>
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
                <button type="submit" class="burgersToEat" id="devour"> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="burgerCol">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="burgersEaten">
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>
<h3>Add your favorite burger here</h3>

<div class="row">
  <div class="formCol">
    <form action="/api/burgers" method="POST">
      <input type="text" id="name" name="burger_name" method = "insertOne" placeholder="Burger name here">
      <button type="submit" class="addBurgerButton">Add Burger</button>
    </form>
  </div>
</div>

<script>
  $(function() {
    $("#devour").on("click", function(event) {
      var id = $(this).data("id");
      var devoured = $(this).data("devoured");
  
      var nowDevoured = {
        devoured: true
      };
  
      // Send the PUT request.
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: nowDevoured
      }).then(
        function() {
          console.log("devoured");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  
    $(".addBurgerButton").on("submit", function(event) {
      // Make sure to preventDefault on a submit event.
      event.preventDefault();
  
      var newBurger = {
        burger_name: $("#name").val().trim(),
        devoured: false
      };
  
      // Send the POST request.
      $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
      }).then(
        function() {
          console.log("created new burger");
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });
  });
</script>