<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../public/assets/css/burger_style.css" type="text/css" />
		<title>Eat the burger.</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../models/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

<h1>Eat the burger.</h1>

<img id = "burger-img" src = "../public/assets/img/burger.png">

<h2>Burgers to be devoured</h2>

<main>
  <div class="container">
    <div class="row">
      <div class="burgerCol">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgersToEat'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>

      <div class="burgerCol">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="burgersEaten">
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>
<h3>Add your favorite burger here</h3>

<div class="row">
  <div class="addCol">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Burger name here">
      <button type="submit" class="addBurgerButton">Add Burger</button>
    </form>
  </div>
</div>