body {
    background-color: white;
}

.addBurgerButton {
    background-color: orangered;
    color: white;
    padding: .5em;
    width: 10em;
    font-size: 1em;
}

.formCol {
    width: 95vw;
}

#burger-img {
margin: 0 auto;
width: 10em;
}

.burgerCol {
    width: 49vw;
}

.burgersToEat{
background-color: orangered;
color: wheat;
padding: .5em;
min-width: 18em;
}

.burgersEaten {
background-color: wheat;
color: orangered;
padding: .5em;
min-width: 18em;

}