body {
    background-color: white;
}

.addBurgerButton {
    background-color: red;
    color: white;
    width: 10em;
}

.addCol {
    width: 95vw;
}

#burger-img {
margin: 0 auto;
width: 10em;
}

.burgerCol {
    width: 49vw;
}

.burgersToEat{
background-color: orangered;
color: wheat;
}

.burgersEaten {
background-color: wheat;
color: orangered;
}